<div class="container bg-primary w-100 h-100 p-0">
  <header>
    <nav class="navbar navbar-expand-sm bg-dark">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact" routerLinkActive="active">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="email" routerLinkActive="active">Email</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="signup" routerLinkActive="active">Signup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="signin" routerLinkActive="active">Signin</a>
        </li>
      </ul>
    </nav>
    <nav class=" container navbar fixed-bottom navbar-dark bg-danger d-flex flex-row justify-content-end">
      <a class="navbar-brand" href="#!">Fixed bottom</a>
    </nav>
    
  </header>
  <section>
    <router-outlet></router-outlet>
  </section>
</div>