html {
    width  : 100%;
    height : 100%;
    margin : 0;
    padding: 0;

    body {
        @extend html;
    }

    // .position-bottom {
    //     position: fixed;
    //     color   : red;
    //     bottom  : 0%;
    //     right: 10%;
    // }

}