<!-- hai bhuvana this is home page -->

<div class="dropdown">
    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Dropdown
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <a class="dropdown-item" href="#!">Action</a>
        <a class="dropdown-item" href="#!">Another action</a>
    </div>
</div>

    <!-- <h5>{{name}}</h5>
<h5>{{age}}</h5>
<h5>{{animals[0]}}</h5>
<h5>{{animals.length}}</h5>
<h5>{{animals[3]}}</h5>
<h5>{{employeeData[0].name}}</h5>
<button (click)="add()">click!</button> -->